<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/feijao.jpg" class="card-img-top" alt="...">
        <div class="card-body  d-flex justify-content-between flex-column">
          <h5 class="card-title">Feijão Carioca</h5>
          <p class="card-text">...</p>
          <a href="#" (click)="Comprar()" class="btn btn-primary container-fluid">Comprar Feijão</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/arroz.webp" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between flex-column">
          <h5 class="card-title">Arroz São João</h5>
          <p class="card-text">...</p>
          <a href="#"  (click)="Comprar()" class="btn btn-primary container-fluid">Comprar arroz</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/monster.webp" class="card-img-top" alt="...">
        <div class="card-body  d-flex justify-content-between flex-column">
          <h5 class="card-title">Monster</h5>
          <p class="card-text">Monster</p>
          <a href="#" (click)="Comprar()" class="btn btn-primary container-fluid">Comprar Monster</a>
        </div>
      </div>
</div>
